/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


// category dropdown styling
.navbar-default {
  display: flex;
  align-items: center;
}

.dropdown-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 0 1rem;


  .dropdown {
    background: #f8f8f8;
    padding: .5rem;
    border-radius: 3px;
    width: 50px;
    display: flex;
    justify-content:center;
    cursor: pointer;
    color: gray;
    margin: 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  }

  .fa-angle-down {
    position: relative;
    top: 2px;
    font-size: 1.3rem;
    transition: transform 0.3s ease;
  }

  .rotate-dropdown-arrow {
    transform: rotate(-180deg);
  }

  .dropdown-menu {
    display: none;
    flex-direction: column;
    border-radius: 4px;
    margin-top: 8px;
    width: 160px;
    padding: 10px;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.3);
    background: #fafafa;
    transform-origin: top left;
  }

  .dropdown-menu span {
    padding: 10px;
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  .dropdown-menu span.active {
    background-color: lightblue;
  }

  .dropdown-menu span:last-child {
    border: none;
  }

  .dropdown-menu span:hover {
    background: #eee;
  }

  #openDropdown:checked + .dropdown-menu {
    display: flex;
    animation: openDropDown 0.4s ease;
  }

  @keyframes openDropDown {
    from {
      transform: rotateX(50deg);
    }
    to {
      transform: rotateX(0deg);
    }
  }
}
