// Place all the styles related to the Plays controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

.play {
  height: 350px;
  width: 250px;
}

.play-show {
  height: 475px;
  width: 375px;
}


